{% extends "base.html" %}
{% block body %}
	<h1>Welcome to Food &#9733;'s GMS</h1>
	{% if 'username' in session %}
		<p>Welcome back {{session['username']}}!</p>
		<form action = "{{url_for('login')}}" method = "post">
			<input type="submit" name="logout" value="Logout" />
		</form>
	{% else %}
		<p>A login is required:</p>
		<form action="{{url_for('login')}}" method="post">
			<p>Usernmame:<br />
			<input type="text" name="username" /></p>
			<p>Password:<br />
			<input type="password" name="passwd" /></p>
			<p><input type="submit" value="Submit" /></p>
		</form>
	{% endif %}
{% endblock %}